body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .form-signin {
    padding: 84px;
    margin: 10px;
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 1px;
  }
  
  .btn-primary {
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .form-signin {
      padding: 50px;
    }
    .h1, .h3 {
      font-size: 28px;
    }
    .btn-primary {
      width: 100%;
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: 576px) {
    .mb-4 {
      width: 32px;
      height: 46px;
    }
  }